.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ul div{
    width: 350px;

}

.ul img{
    height: 300px;
    width: 300px;
}

.ul h1{
    font-size: 25px;
}